<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorate="layout.html">

<head>
    <meta charset="UTF-8">
    <title>Modifier une catégorie</title>
</head>

<body>
    <section layout:fragment="content" class="max-w-4xl mx-auto p-6">
        <div class="container mt-5">
            <h1>Modifier une catégorie</h1>

            <!-- Formulaire de modification de catégorie -->
            <form th:action="@{/admin/modifierCategorie/{id}(id=${categorie.noCategorie})}" th:object="${categorie}"
                method="post">
                <div class="mb-3">
                    <label for="libelle" class="form-label">Libellé</label>
                    <input type="text" id="libelle" class="form-control" th:field="*{libelle}" required>
                </div>

                <!-- Boutons pour envoyer le formulaire -->
                <button type="submit" class="btn btn-success">Modifier</button>
                <a href="/admin/gestionCategorie" class="btn btn-secondary">Annuler</a>
            </form>
        </div>

    </section>
</body>

</html>